body{
    /* background-color: #cccccc; */
    background-image: url("https://vsaiprakash.github.io/jumper-game-app/assets/images/backgrounds/background.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}