body{
    /* background-color: #cccccc; */
    background-image: url("./src/assets/images/backgrounds/background.svg");
    background-position: center; /* Center the image */
    /* background-repeat: no-repeat; */ /* Do not repeat the image */
    background-size:cover; 

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}